# Configuration File for pyPosMat

# pyposmat
pyposmat_out_fname = pyposmat.out
pyposmat_log_fname = pyposmat.log

# pyposmat
pyposmat_type = pareto_surface

# dakota binary
dakota_bin = 'C:\\pyflamestk\\examples\\pyposmat_pareto\\buckingham\dir_structure_db'
dakota_fname_in              = eam_fit_ni.in
dakota_fname_out             = eam_fit_ni.out
dakota_fname_err             = eam_fit_ni.err
dakota_fname_params          = params.in
dakota_fname_results         = results.out
dakota_fname_graphics        = eam_fit_ni.graphics
dakota_fname_analysis_driver = dakota_driver_eam_fit.py

# lmmps_configuration_section
lmps_bin                      = /home/eugene/usr/local/lmmps/mpi_meam/lmps_mpi_meam
lmps_exe_script               = /home/eugene/usr/local/lmmps/mpi_meam/run_lmmps.sh
lmps_fname_eam_potential      = eam_ni_dakota.alloy

# structure_database
dir_structure_db = /home/eugene/work/Ni_eam/optimization_bjj_2/db_structure
structure = Ni_fcc,        Ni_fcc.structure,                 lmmps
structure = Ni_bcc,        Ni_bcc.structure,                 lmmps
structure = Ni_hcp,        Ni_hcp.structure,                 lmmps
structure = Ni_fcc_Ni_vac, Ni_fcc_Ni_vac.structure,          lmmps
structure = Ni_fcc_Ni_int, Ni_fcc_Ni_int.structure,          lmmps

# lmps_simulation_types
lmps_sim_directory = /home/eugene/work/Ni_eam/optimization_bjj_2/lmp_scripts
lmps_sim_type = E_coh,   E_coh
lmps_sim_type = elastic, elastic

# potential definition
potential_type           = eam_analytical
eam_analytical_pair      = effective_charge
eam_analytical_embedding = universal
eam_analytical_density   = rho_3s_metal
eam_global_cutoff        = 5.5750

# setfl .alloy filesetup
eam_fname = /home/eugene/work/Ni_eam/optimization_bjj_2/Ni.eam.alloy
eam_rho_max = 50.
eam_N_rho   = 10000
eam_N_r     = 10000

# method
method = conjugate_gradient_fr
# quantities of interest

# training set 1
qoi_list = Ni_fcc_latt_a, Ni_fcc_ecoh, Ni_E_hcp_fcc, Ni_fcc_G, Ni_fcc_B
#Ni_fcc_G, Ni_fcc_B
qoi = Ni_fcc_latt_a, latt_a, Ni_fcc
qoi = Ni_fcc_ecoh, E_coh, Ni_fcc
qoi = Ni_E_hcp_fcc, phase_difference, Ni_hcp, Ni_fcc
qoi = Ni_fcc_G, G_modulus, Ni_fcc
qoi = Ni_fcc_B, B_modulus, Ni_fcc
#qoi = Ni_fcc_c11, c11, Ni_fcc
#qoi = Ni_fcc_c12, c12, Ni_fcc
#qoi = Ni_fcc_c44, c44, Ni_fcc

qoi_weights = Ni_fcc_ecoh,    1.
qoi_weights = Ni_fcc_latt_a,  1.
qoi_weights = Ni_E_hcp_fcc,   1.
qoi_weights = Ni_fcc_G,       1.
qoi_weights = Ni_fcc_B,       1.
#qoi_weights = Ni_fcc_c11,     1.
#qoi_weights = Ni_fcc_c12,     1.
#qoi_weights = Ni_fcc_c44,     1.

qoi_target = Ni_fcc_ecoh, -4.450
qoi_target = Ni_fcc_latt_a, 3.518
qoi_target = Ni_E_hcp_fcc, 0.03
qoi_target = Ni_fcc_G,  50
qoi_target = Ni_fcc_B, 186
#qoi_target = Ni_fcc_c11, 247
#qoi_target = Ni_fcc_c12, 147
#qoi_target = Ni_fcc_c44, 125

qoi_normfactor = Ni_fcc_ecoh,   4.45
qoi_normfactor = Ni_fcc_latt_a, 3.518
qoi_normfactor = Ni_E_bcc_fcc,  4.45
qoi_normfactor = Ni_E_hcp_fcc,  4.45
qoi_normfactor = Ni_fcc_G,         197
qoi_normfactor = Ni_fcc_B,         197
#qoi_normfactor = Ni_fcc_c11,      247
#qoi_normfactor = Ni_fcc_c12,      147
#qoi_normfactor = Ni_fcc_c44,      125

#qoi_weights = Ni_E_fcc_vac, 0.50
#qoi = Ni_E_bcc_fcc, phase_difference, Ni_bcc, Ni_fcc
#qoi = Ni_fcc_latt_a, latt_a, Ni_fcc
#qoi = Ni_fcc_ecoh, E_coh, Ni_fcc
#qoi = Ni_E_bcc_fcc, phase_difference, Ni_bcc, Ni_fcc
#qoi = Ni_fcc_G, G_modulus, Ni_fcc
#qoi = Ni_fcc_B, B_modulus, Ni_fcc
#qoi = Ni_fcc_c11, c11, Ni_fcc
#qoi = Ni_fcc_c12, c12, Ni_fcc
#qoi = Ni_fcc_c44, c44, Ni_fcc
#qoi = Ni_fcc_vac, E_f_defect, Ni_fcc_Ni_vac, Ni_fcc
#qoi = Ni_fcc_int, E_f_defect, Ni_fcc_Ni_int, Ni_fcc

#qoi_weights = Ni_fcc_ecoh, 0.50
#qoi_weights = Ni_fcc_latt_a,  0.50
#qoi_weights = Ni_E_bcc_fcc,   0.50
#qoi_weights = Ni_E_hcp_fcc,   0.50
#qoi_weights = Ni_fcc_G,             0.50
#qoi_weights = Ni_fcc_B,             0.50
#qoi_weights = Ni_fcc_c11,           0.50
#qoi_weights = Ni_fcc_c12,           0.50
#qoi_weights = Ni_fcc_c44,           0.50
#qoi_weights = Ni_E_fcc_vac, 0.50
#qoi_weights = Ni_E_fcc_int, 0.50

#qoi_target = Ni_fcc_ecoh, -4.450
#qoi_target = Ni_fcc_latt_a, 3.518
#qoi_target = Ni_E_bcc_fcc, 0.110  
#qoi_target = Ni_E_hcp_fcc, 0.30
#qoi_target = fcc_G
#qoi_target = fcc_B
#qoi_target = Ni_fcc_c11, 247
#qoi_target = Ni_fcc_c12, 147
#qoi_target = Ni_fcc_c44, 125
#qoi_target = Ni_E_fcc_vac, 1.57
#qoi_target = Ni_E_fcc_int, 3.44


#qoi_normfactor = Ni_fcc_ecoh,   0.01
#qoi_normfactor = Ni_fcc_latt_a, 0.01
#qoi_normfactor = Ni_E_bcc_fcc,  0.01 
#qoi_normfactor = Ni_E_hcp_fcc, 0.30
#qoi_normfactor = fcc_G
#qoi_normfactor = fcc_B
#qoi_normfactor = Ni_fcc_c11,       10
#qoi_normfactor = Ni_fcc_c12,       10
#qoi_normfactor = Ni_fcc_c44,       10
#qoi_normfactor = Ni_E_fcc_vac, 1.57
#qoi_target = Ni_E_fcc_int, 3.44
